<!--The content below is only a placeholder and can be replaced.-->

<!--<h1>Mi contador</h1>

<div>
  <counter [cont]=100 [step]=2 (plusClicked)="onFirstPlusClicked($event)"></counter>
  <h1 *ngIf="conterValue">supera los 110</h1>
</div>
<div>
  <counter [cont]=10 [step]=3 (plusClicked)="onFirstStepClicked($event)"></counter>
</div>
<div>
  <counter [cont]="conterValue" [step]="stepValue"></counter>
</div>
<div>
  <counter></counter>
</div>
<div>
  <h2>Lista</h2>
  <div *ngFor="let item of lista: let i = index">
    <h1 [ngClass]="i % 2 === 0 ? 'even ': 'odd'">{{i}} - {{item}}</h1>
  </div>
</div>-->
<todo-app></todo-app>

